@import '@Assets/styles/Colors.scss';

.rating {
  //max-width: 250px;

  &-star {
    background-position: 0 0;

    &-img {
      background-position: 0 -15px;
    }

    &,
    &-img {
      background-image: url('../../assets/images/star_rating.png');
      background-repeat: no-repeat;
      height: 15px;
      width: 87px;
      background-size: 87px 30px;
      margin-right: 5px;
    }
  }

  &-reviews {
    max-width: 250px;

    &-big {
      color: $Navy;
      letter-spacing: 0.28px;
      cursor: pointer;

      &-gap {
        width: 10px;
        height: 1px;
        background: $Navy;
      }

      &-msg {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &-small {
      color: $Navy;
      cursor: pointer;
    }
  }
}
