@media screen and (prefers-reduced-motion: reduce) {
  .main-menu {
    transition: none;
  }
}

.main-menu {
  height: 100%;
  transform: translate(-100vw);
  transition: all 0.4s ease 0s;
  overflow: hidden auto;

  @media screen and (prefers-reduced-motion: reduce) {
    &-active {
      transition: none;
    }
  }

  &-active {
    transition: all 0.4s ease 0s;
    transform: translate(0);
  }
}
