@import '@Assets//styles/Colors.scss';
@import '@Assets//styles//Mixins.scss';

.swatch {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  @include media-break-point-up(md) {
    width: 42px;
    height: 42px;
  }

  &-square {
    width: 60px;
    height: 55px;
  }

  &-circle {
    border-radius: 50%;
  }

  &-selected {
    border: 1px solid $Navy;
  }

  &-img {
    padding: 3px;
    width: 30px;

    @include media-break-point-up(md) {
      width: 42px;
    }

    &-square {
      width: 60px;
    }

    &-circle {
      border-radius: 50%;
    }
  }
}
