@import "@Assets/styles/Colors.scss";

.password {
  input {
    width: 100%;
  }

  &-icon {
    border: 1px solid $very-light-gray;
    border-radius: 3px;

    input {
      border: 0;
    }

    svg {
      margin: auto 5px;
      width: 35px;
    }

    &-row {
      &-reverse {
        svg {
          margin-left: 10px;
        }
      }
    }
  }
}
