@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.back-to-top {
  @include arrow-button-circle('top') {
    &:hover,
    &:focus-visible {
      background-color: $white;
    }

    background-color: $SkyBlue;
    transition: visibility 0.3s ease-in-out;
    margin: 0 15px 15px 0;

    @include media-break-point-up(lg) {
      margin: 0 30px 30px 0;
    }
  }
}
