@import "@Assets/styles/Colors.scss";
@import '@Assets/styles/Mixins.scss';
@import '@Assets/styles/Variables.scss';
@import '@Assets/styles/KeyFrames.scss';

$OPTIONS_SIZE: "small", "medium", "large", "nosize";

$OPTIONS_TYPE: (
  "navy": ($Navy, $white, $SkyBlue, '', ''),
  "skyblue":  ($SkyBlue, $Navy, $SkyBlue, $Navy, $SkyBlue),
  "iceblue": ($IceBlue, $Navy, $Navy, $SkyBlue, ''),
  "green": ($Green, $white, '', '', ''),
  "navy-border": (inherit, $Navy, "", "", $Navy),
  "skyblue-border": (inherit, $SkyBlue, "", "", $SkyBlue),
  "green-border": (inherit, $Green, "", "", $Green),
  "vip-red": ($vip-red, $white, '', '', ''),
  "vip-teal": ($vip-teal, $white, '', '', ''),
  "white": ($white, $Navy, $white, $Navy, $white),
  "black": ($black, $white, $white, '', $white),
  "alizarin-red": ($alizarin-red, $white, $white, '', $white),
  "gold": ($gold, $black, $black, '', $black),
  "teal": ($teal, $white, $white, '', $white),
  "beige": ($beige, $black, $black, '', $black),
  "express": ($express, $white, '', '', ''),
);

@mixin construct-button-styles($bgColor, $color, $focusColor, $focusBgColor, $borderColor) {
  background-color: $bgColor;
  color: $color;

  &:hover,
  &:focus {
    background-color: $focusBgColor;
    color: $focusColor;

    @if $borderColor != '' {
      border-color: $borderColor;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

@each $var, $val in $OPTIONS_TYPE {
  .theme-#{$var} {
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent;

    @if ($var == "rr-navy-border") {
      border: 2px solid $Navy;
    }

    @else if ($var == "rr-skyblue-border") {
      border: 2px solid $SkyBlue;
    }

    @else if ($var == "rr-green-border") {
      border: 2px solid $Green;
    }

    @include construct-button-styles($val...);
  }
}

@each $var in $OPTIONS_SIZE {
  .size-#{$var} {
    @if ($var == "small") {
      min-height: 40px;
    }

    @else if ($var == "medium") { min-height: 45px; }

    @else if ($var == "large") { min-height: 50px; }

    @else if ($var == "nosize") { max-width: 100%; }
  }
}

.btn {
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 30px;
  display: flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  justify-content: center;

  @include media-break-point-up (sm) {
    font-size: 16px;
  }

  @media (prefers-reduced-motion: reduce) {
    &-spinner {
      animation: none;
    }
  }

  &-spinner {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid currentColor;
    border-radius: 50%;
    border-right-color: transparent;
    animation: spinner 0.75s linear infinite;
    margin-right: 10px;
  }
}
