@import "@Assets/styles/Variables.scss";
@import "@Assets/styles/Colors.scss";

@media screen and (prefers-reduced-motion: reduce) {
  .dropdown {
    transition: none;
  }
}

.dropdown {
  transition: all 0.6s ease;

  @media (prefers-reduced-motion: reduce) {
    &-content {
      transition: none;
    }
  }

  &-content {
    width: 100%;
    box-shadow: 0 0 4px $very-light-gray;
    max-height: 0;
    overflow-y: auto;
    visibility: hidden;
    position: absolute;
    background: $white;
    z-index: $zindex-dropdown;
    transition: all 0.2s ease-in-out;

    &-show {
      max-height: 500px;
      visibility: visible;
    }
  }
}
