@import "@Assets/styles/Mixins";

// As per the UX the container margin for both sides is 2*140px(280px)
// Visually 240px looks matching with ux
// Decrease margin by 60px for higher screens
// Scales all device widths
.container {
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;

  @include media-break-point-up(lg) {
    padding: 0;
    max-width: calc(100% - 120px);
  }

  @include media-break-point-up(xl) {
    max-width: calc(100% - 180px);
  }

  @include media-break-point-up(xxl) {
    max-width: calc(100% - 240px);
  }
}
