@import '@Assets/styles/Colors.scss';
@import '@Assets/styles/Mixins.scss';

.donghnut {
  &-container {
    width: 100%;
    height: 100%;
    position: relative;

    @include media-break-point-down(md) {
      padding: 40px 0;
    }
  }

  &-dataset3 {
    display: block;
    position: absolute;
    top: 56px;
    left: 7%;
    text-align: right;

    @include media-break-point-down(md) {
      left: 0;
      top: 10%;
      max-width: 100px;
    }
  }

  &-dataset2 {
    display: block;
    position: absolute;
    bottom: 56px;
    left: 7%;
    text-align: right;

    @include media-break-point-down(md) {
      left: 0;
      bottom: 5%;
      max-width: 100px;
    }
  }

  &-dataset1 {
    display: block;
    position: absolute;
    top: 10%;
    right: 0;
    max-width: 100px;

    @include media-break-point-up(md) {
      max-width: 200px;
      top: 35%;
    }

    @include media-break-point-up(md) {
      max-width: 200px;
      top: 15%;
    }
  }

  &-total {
    &-savings {
      position: absolute;
      text-align: center;
      max-width: 200px;

      @include media-break-point-down(md) {
        max-width: 120px;
      }
    }

    &-amount {
      color: $vip-red;
    }
  }

  &-chart {
    position: relative;
    width: 250px;
    height: 250px;

    @include media-break-point-down(md) {
      width: 200px;
      height: 200px;
    }
  }
}
