// Base Colors
$Navy: #0f2d49;
$SkyBlue: #6ec5f5;
$IceBlue: #d5f6ff;
$Green: #325a17; // Sales Funnel
$natural: #fbf9f5;
$white: #ffffff;
$red: #ff0000;
$asphalt: #292826;

// VIP & Personalization
// $vip-red: #DB2840;
$vip-red: #8c2d76;
$vip-teal: #159897;

// Gray Collection
$gray: #8b8b8b;
$very-light-gray: #f7f7f7;
$very-light-shade-gray: #f6f6f6;
$warm-light-gray: #f3f3f2;
$palette-grey-gallery: #ebebeb;
$warm-medium-gray: #d9d9d9;
$light-silver-gray : #d2d2d2;
$dark-gray: #a8a8a8;
$quick-silver-gray: #a5a5a5;
$light-quick-silver-gray: #a2a2a2;
$warm-gray: #6b6966;
$dim-gray: #414141;

// Shadow colors
$shadow-dark: #00000010;
$shadow-light-dark : #3e49540a;

// Overlay colors
$overlay-dark: rgba(0, 0, 0, 0.8);

// Error
$error-rust: #ab5c0e;

// Additional colors
$black: #000000;
$tangerine-yellow: #ffcd00;
$purple-heart: #5141d8;
$montana: #414242;
$alizarin-red: #d8233e;
$gold: #dea856;
$teal: #2facba;
$beige: #faf2e7;
$express: #757575;

$snowy-mint: #daffe1;
$light-orange :#f7af43;
$atomic-tangerine : #ff9360;
$pastel-red : #ff6364;
$pale-sky: #717579;
$light-blue: #5bcfc5;
$metallic-blue: #4f7086;
$blue : #0083c1;
$clover-green : #299e4a;
$warm-green : #14935c;
$dark-green: #0c6f1c;
$eerie-black : #171b1e;
