@font-face {
  /* sf-pro-regular */
  font-family: "sf-pro";
  src: url("../fonts/sf-pro-display/sf-pro-display-regular/sf-pro-display-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  /* sf-pro-medium */
  font-family: "sf-pro";
  src: url("../fonts/sf-pro-display/sf-pro-display-medium/sf-pro-display-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  /* sf-pro-bold */
  font-family: "sf-pro";
  src: url("../fonts/sf-pro-display/sf-pro-display-bold/sf-pro-display-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
