@font-face {
  /* roboto-regular */
  font-family: "roboto";
  src: url("../fonts/roboto/roboto-regular/roboto-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  /* roboto-medium */
  font-family: "roboto";
  src: url("../fonts/roboto/roboto-medium/roboto-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  /* roboto-bold */
  font-family: "roboto";
  src: url("../fonts/roboto/roboto-bold/roboto-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
