@font-face {
    /* raleway-regular */
    font-family: "raleway";
    src: url("../fonts/raleway/raleway-regular/raleway-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    /* raleway-medium */
    font-family: "raleway";
    src: url("../fonts/raleway/raleway-medium/raleway-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    /* raleway-bold */
    font-family: "raleway";
    src: url("../fonts/raleway/raleway-bold/raleway-bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  