@import '@Assets/styles/Colors.scss';

.menu {
  height: 100%;

  &-chevron path {
    stroke: $SkyBlue;
  }

  &-navs {
    background: $natural;
    margin-top: 65px;

    a {
      flex-grow: 2;
      font-size: 16px;
    }
  }

  &-accordion {
    padding: 0;
    border: 0;

    a {
      margin: 5px 0 5px 10px;
      color: $montana;
      font-size: 14px;
      font-weight: 400;
    }
  }

  ul {
    li {
      font-weight: 700;
      padding: 15px 18px 15px 25px;
      border-bottom: 1px solid $very-light-gray;
      overflow: hidden;
      display: flex;
      align-items: center;

      a {
        display: inline-block;
        width: 100%;
      }

      h3 {
        flex-grow: 2;
        text-transform: uppercase;
      }

      &.menu-icon {
        &:hover,
        &:focus {
          background: $Navy;

          a,
          h3 {
            color: $SkyBlue;
          }
        }

        img {
          width: 35px;
          height: 18px;
          margin-right: 8px;
        }
      }

      &.menu-hidden {
        display: none;
      }
    }
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .sub-menu {
    transition: none;
  }
}

.sub-menu {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(100vw);
  transition: all 0.4s ease 0s;
  overflow-y: auto;

  @media screen and (prefers-reduced-motion: reduce) {
    &-active {
      transition: none;
    }
  }

  &-active {
    transition: all 0.4s ease 0s;
    transform: translate(0);
  }
}
